@model IEnumerable<Ecom.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4">Customer Reviews</h1>
<h2 class="mb-4">Search and Delete Abusive Comments</h2>
<btn class="btn btn-success mb-3">
    <a asp-action="Create" class="text-decoration-none text-white">Create New</a>
</btn>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                    @* <btn class="btn btn-success">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="text-decoration-none text-white">Modify</a> 
                    </btn> *@
                    <btn class="btn btn-success">
                        <a asp-action="Details" asp-route-id="@item.Id" class="text-decoration-none text-white">Details</a>
                    </btn>
                    <btn class="btn btn-success">
                        <a asp-action="Delete" asp-route-id="@item.Id" class="text-decoration-none text-white">Delete Comment</a>
                    </btn>
            </td>
        </tr>
}
    </tbody>
</table>
